<p><%=t('devise.mailer.email_change.greeting') @email %>!</p>
<% if @resource.try(:unconfirmed_email?) %>
  <p><%=t('devise.mailer.email_change.body') @resource.unconfirmed_email %></p>
<% else %>
  <p><%=t('devise.mailer.email_change.body') @resource.email %></p>
<% end %>
