<%# only run if given flash message %>
<% if notice %>
  <div class = "alert alert-success">
  <p class="notice"><%= notice %></p>
</div>
<% end %>

<% if alert %>
  <div  class=" alert alert-danger">
    <p class="alert"><%= alert %></p>
  </div>
<% end %>